.jumbotron .btn{
  margin-bottom: 6px;
}

#cal-input{
  margin-left: 157px;
  margin-right: -141px;
  margin-bottom: 10px;
  text-align:right;
}

.jumbotron .btn {
    font-size: 21px;
    width: 64px;
}